<section class="about">
  <div class="about__container container">
    <div class="about__descrip">
      <h2 class="about__title subtitle">
        О студии
      </h2>
      <p class="about__text">
        В рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно
        синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны:
        высокотехнологичная концепция общественного уклада требует от нас анализа соответствующих условий активизации!
        Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения
        внутренних резервов и ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности
        для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает
        независимые способы реализации новых принципов формирования материально-технической и кадровой базы. Приятно,
        граждане, наблюдать, как явные признаки институционализации являются только методом политического участия
        и нарушающими общечеловеческие нормы этики.
      </p>
    </div>
    <picture class="about__picture">
      <source media="(min-width: 1442px)" srcset="img/about-1.webp">
      <source media="(min-width: 786px)" srcset="img/about-1-1024.webp">
      <source media="(min-width: 576px)" srcset="img/about-1-768.webp">
      <source srcset="img/about-1-320.webp" type="image/webp">
      <img loading="lazy" src="img/about-1-320.img" class="about__img" alt="">
    </picture>
    <form class="about__form form" action="#">
      <label class="form__label" for="email">Подписаться на рассылку</label>
      <div class="form__input">
        <input class="form__email" type="email" name="email" id="email" placeholder="Email" required>
      </div>
      <button class="form__btn btn-filled btn-reset" aria-label="отправить">
        Отправить
      </button>
    </form>

  </div>
</section>
