<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title subtitle">
      Контакты
    </h2>
    <div class="contacts__map" id="map" style=" height: 460px"></div>
    <form class="contacts__form form" action="#">
      <h3 class="form__title">Оставить заявку</h3>
      <p class="form__text">
        Оставьте ваши данные, указав в графе «Комментарий» желаемые время и дату съёмки или другого мероприятия
      </p>
      <div class="form__content">
        <input class="form__name form__input" type="text" name="name" id="contacts-name" placeholder="Имя" required>
      </div>
      <div class="form__content">
        <input class="form__email form__input" type="email" name="email" id="contacts-mail" placeholder="Email"
          required>
      </div>
      <textarea class="form__message form__input" name="message" placeholder="Комментарий"></textarea>
      <button class="form__btn btn-filled btn-reset" aria-label="отправить">
        Отправить
      </button>
    </form>

  </div>
</section>
