<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo logo" href="#">
      <img class="logo__img" src="img/logo.svg" alt="site logo">
      Фотостудия High pass® 2018–2020
    </a>
    <p class="footer__copy">
      Которая из&nbsp;моих фотографий самая любимая? Та, которую я&nbsp;собираюсь снять завтра.&nbsp;&copy;&nbsp;Имоджен
      Каннингем
    </p>
    <div class="footer__social social">
      <h2 class="social__title">
        Больше интересного:
      </h2>
      <ul class="social__list list-reset">
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка в Однокласниках">
            <svg class="social__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a href="#" target="_blank" class="social__link" aria-label="Наша страничка во Вконтакте">
            <svg class="social__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
