<section class="hero">
  <div class="hero__container container">
    <div class="hero__mainset mainset">
      <h1 class="mainset__title title">
        Мастер-класс от Игоря Робова
      </h1>
      <p class="mainset__deskrip">
        Неоновый фотосет 2.0 7 июля 20:00
      </p>
      <a class="mainset__link btn-filled" href="#">
        Узнать больше
      </a>
      <span class="mainset__tag tag">
        #мастеркласс
      </span>
      <picture class="mainset__picture">
        <source media="(min-width: 1025px)" srcset="img/hero-1.webp">
        <source media="(min-width: 769px)" srcset="img/hero-1-1024.webp">
        <source media="(min-width: 576px)" srcset="img/hero-1-768.webp">
        <source srcset="img/hero-1-320.webp" type="image/webp">
        <img loading="lazy" src="img/hero-2-320.img" class="mainset__img" alt="">
      </picture>
    </div>

    <div class="hero__prevset prevset">
      <div class="prevset__top top">
        <h2 class="top__subtitle subtitle">
          Работы участников предыдущего мастер-класса
        </h2>
        <picture class="top__picture">
          <source media="(min-width: 1025px)" srcset="img/hero-2.webp">
          <source media="(min-width: 769px)" srcset="img/hero-2-1024.webp">
          <source media="(min-width: 576px)" srcset="img/hero-2-768.webp">
          <source srcset="img/hero-2-320.webp" type="image/webp">
          <img loading="lazy" src="img/hero-2-320.img" class="top__img" alt="">
        </picture>
      </div>
      <picture class="prevset__bottom bottom">
        <source media="(min-width: 1025px)" srcset="img/hero-3.webp">
        <source media="(min-width: 769px)" srcset="img/hero-3-1024.webp">
        <source media="(min-width: 576px)" srcset="img/hero-3-768.webp">
        <source srcset="img/hero-3-320.webp" type="image/webp">
        <img loading="lazy" src="img/hero-3-320.img" class="bottom__img" alt="">
      </picture>
      <picture class="prevset__bottom bottom">
        <source media="(min-width: 1025px)" srcset="img/hero-4.webp">
        <source media="(min-width: 769px)" srcset="img/hero-4-1024.webp">
        <source media="(min-width: 576px)" srcset="img/hero-4-768.webp">
        <source srcset="img/hero-4-320.webp" type="image/webp">
        <img loading="lazy" src="img/hero-4-320.img" class="bottom__img" alt="">
      </picture>
    </div>

  </div>
</section>
