<section class="projects">
  <div class="projects__container container">
    <h2 class="projects__title subtitle">
      Наши проекты
    </h2>
    <article class="projects__one projects__small small">
      <picture class="small__picture">
        <source media="(min-width: 1025px)" srcset="img/article-1.webp">
        <source media="(min-width: 769px)" srcset="img/article-1-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-1-768.webp">
        <source srcset="img/article-1-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-1-320.img" class="small__img" alt="">
      </picture>
      <h3 class="small__title">
        Синтетически, смешаны с не уникальными данными до степени…
      </h3>
      <time class="small__date" datetime="06-16">
        16 июня
      </time>
      <span class="small__tag tag">
        #пейзаж
      </span>
    </article>
    <article class="projects__two projects__small small">
      <picture class="small__picture">
        <source media="(min-width: 1025px)" srcset="img/article-2.webp">
        <source media="(min-width: 769px)" srcset="img/article-2-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-2-768.webp">
        <source srcset="img/article-2-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-2-320.img" class="small__img" alt="">
      </picture>
      <h3 class="small__title">
        В своём стремлении улучшить опыт мы упускаем, что явные
      </h3>
      <time class="small__date" datetime="05-28">
        28 мая
      </time>
      <span class="small__tag tag">
        #портрет
      </span>
    </article>
    <article class="projects__three projects__small small">
      <picture class="small__picture">
        <source media="(min-width: 1025px)" srcset="img/article-3.webp">
        <source media="(min-width: 769px)" srcset="img/article-3-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-3-768.webp">
        <source srcset="img/article-3-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-3-320.img" class="small__img" alt="">
      </picture>
      <h3 class="small__title">
        Равным образом, высокое качество позиционных…
      </h3>
      <time class="small__date" datetime="05-14">
        14 мая
      </time>
      <span class="small__tag tag">
        #предмет
      </span>
    </article>
    <article class="projects__four projects__big big">
      <time class="big__date" datetime="04-09">
        9 апреля
      </time>
      <picture class="big__picture">
        <source media="(min-width: 1025px)" srcset="img/article-4.webp">
        <source media="(min-width: 769px)" srcset="img/article-4-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-4-768.webp">
        <source srcset="img/article-4-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-4-320.img" class="big__img" alt="">
      </picture>
      <h3 class="big__title">
        Cемантический разбор
      </h3>
      <p class="big__text">
        В рамках спецификации современных стандартов, интерактивные прототипы
      </p>
      <a class="big__link btn-empty" href="">
        О проекте
      </a>
      <span class="big__tag tag">
        #fuji
      </span>
    </article>
    <article class="projects__five projects__big big">
      <time class="big__date" datetime="03-20">
        20 марта
      </time>
      <picture class="big__picture">
        <source media="(min-width: 1025px)" srcset="img/article-5.webp">
        <source media="(min-width: 769px)" srcset="img/article-5-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-5-768.webp">
        <source srcset="img/article-5-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-5-320.img" class="big__img" alt="">
      </picture>
      <h3 class="big__title">
        Забвение
      </h3>
      <p class="big__text">
        Играет важную роль в формировании глубокомысленных рассуждений
      </p>
      <a class="big__link btn-empty" href="">
        О проекте
      </a>
      <span class="big__tag tag">
        #проектзабвение
      </span>
    </article>
    <article class="projects__six projects__small small">
      <picture class="small__picture">
        <source media="(min-width: 1025px)" srcset="img/article-6.webp">
        <source media="(min-width: 769px)" srcset="img/article-6-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-6-768.webp">
        <source srcset="img/article-6-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-6-320.img" class="small__img" alt="">
      </picture>
      <h3 class="small__title">
        Как принято считать, многие известные личности и по сей день остаются уделом либералов…
      </h3>
      <time class="small__date" datetime="03-09">
        9 марта
      </time>
      <span class="small__tag tag">
        #ретушь
      </span>
    </article>
    <article class="projects__seven projects__small small">
      <picture class="small__picture">
        <source media="(min-width: 1025px)" srcset="img/article-7.webp">
        <source media="(min-width: 769px)" srcset="img/article-7-1024.webp">
        <source media="(min-width: 576px)" srcset="img/article-7-768.webp">
        <source srcset="img/article-7-320.webp" type="image/webp">
        <img loading="lazy" src="img/article-7-320.img" class="small__img" alt="">
      </picture>
      <h3 class="small__title">
        С учётом сложившейся международной обстановки, новая модель организационной…
      </h3>
      <time class="small__date" datetime="03-01">
        1 марта
      </time>
      <span class="small__tag tag">
        #портрет
      </span>
    </article>

  </div>
</section>
